<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting App</title>
    <script src="angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="greetingApp">
   <h1>Greeting App</h1>
    <div class="content" ng-controller="greetController">
        <label for="">Name :</label>
        <input type="text" ng-model="name">
        <input type="button" value="Greet" ng-click="greet()">
        <div>{{greetMsg}}</div>
    </div>
</body>
</html>
